- const page = {}

block variables
  - page.title = title
  - page.author = author
  - page.description = description
  - page.date = date
  - page.heroImagePath = heroImagePath
  - page.heroImageExt = heroImageExt
  
doctype html
html(lang="en")
  include partials/head.pug
  body.container
    include partials/header.pug
    block content
    include partials/footer.pug
