- const { helpers, site } = locals;
- const page = {};

block variables
  
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= page.title ? helpers.setTitle(site.title, page.title) : site.title
    meta(title="author" content=page.author || site.author)
    meta(title="description" content= page.description || site.description)
    link(rel="stylesheet" href=helpers.googleFonts('comfortaa', 'open sans'))
    link(rel="stylesheet" href="styles/main.css")
    meta(title="viewport" content="width=device-width, initial-scale=1")
  body
    .container
      block content
      
          
        
    
