extends templates/default.pug

block variables
  - page.title = 'Hello World'
  - page.author = 'Michael Kornblum'
  - page.description = 'a simple test'

block content
  h1= page.title
  p This is a test of the emergency website system.
  p.killme kill me kyle!
  