@import 'rupture'
@import 'typographic'
$min-font = 1.125rem
$max-font = 1.25rem
typographic()

body 
  color: #333

.container 
  width: 95%
  margin: 0 auto

img
  min-width: 100%
  margin: 0 auto;
