@import 'rupture'
// @import 'typographic'
// $min-font = 1.125rem
// $max-font = 1.25rem
// typographic()

body 
  color: green;

.container 
  width: 100%
  margin: 0 auto

.heroImage 
  display: block;
  margin: 0 auto
